.todos-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.light .space{
    background-color: rgb(224, 222, 222);
    width: 100%;
    height: 100vh;
    position: relative;
}
.dark .space{
    background-color: #171823;
    width: 100%;
    height: 100vh;
    position: relative;
}
.light .background{
    width: 100%;
    height: 210px;
    background-image: url('../src/assets/Bitmap.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dark .background{
    width: 100%;
    height: 210px;
    background-image: url('../src/assets/Bitmap2.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 457px;
    height: 48px;
}
.todo-header span{
    font-size: 40px;
    color: white;
    font-weight: 700;
    letter-spacing: 15px;
    line-height: 40px;
}
.todo-box{
    width: 100%;
    position: absolute;
    top: 190px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.light .task-input{
    width: 440px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 15px;
    margin-bottom: 25px;
}
.dark .task-input{
    width: 440px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 15px;
    margin-bottom: 25px;
    background-color: #25273D;
    color: white;
}
.sub-btn{
    width: 40px;
    height: 40px;
    background-color: white;
    cursor: pointer;
    border: none;
}
.light .app-li{
    width: 443px;
    min-height: 35px;
    border-bottom: 1px solid rgb(224, 217, 217);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding-left: 14px;
}
.dark .app-li{
    width: 443px;
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #25273D;
    padding-left: 14px;
}
.bottom-btns{
    display: flex;
    width: 320px;
    justify-content: space-between;
    padding-right: 5px;
}
.bottom-btns1{
    display: flex;
    justify-content: space-around;
    width: 180px;
}
.bottom-btns button{
    background-color: transparent;
    border: none;
    color: grey;
}

.bottom-btns button:hover{
    color: blue;
    cursor: pointer;
}
.app-li span{
    color: grey;
    font-size: 14px;
}
#modeBtn{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

@media only screen and (max-width: 496px) {
   .todo-header{
    width: 350px;
   }
   .todo-task-box{
    width: 364px !important;
   }
   .light .task-input,
   .dark .task-input{
    width: 350px;
   }
   .light .app-li,
   .dark .app-li{
    width: 350px;
   }
}
@media only screen and (max-width: 398px) {
   .todo-header{
    width: 330px;
   }
   .todo-task-box{
    width: 344px !important;
   }
   .light .task-input,
   .dark .task-input{
    width: 330px;
   }
   .light .app-li,
   .dark .app-li{
    width: 330px;
   }
}
@media only screen and (max-width: 361px) {
   .todo-header{
    width: 300px;
   }
   .todo-task-box{
    width: 314px !important;
   }
   .light .task-input,
   .dark .task-input{
    width: 300px;
   }
   .light .app-li,
   .dark .app-li{
    width: 300px;
   }
}